/* #region 版心 */
.container {
    width: 1190px;
    margin: 0 auto;
    background-color: pink;
    height: 3000px;
}
/* #endregion */

/* #region 顶部topbar */
.topbar {
    height: 30px;
    background-color: #ECECEC;
}
.topbar-wel {
    height: 30px; /* 这个height不能省略，否则会影响后面的排版 */
    line-height: 30px;
    font-size: 0;
}
.topbar-wel span, .topbar-wel a {
    font-size: 12px;
}
.topbar-wel .wel {
    margin-right: 28px;
}
.topbar-wel .login {
    padding-right: 10px;
    border-right: 1px solid black;
}
.topbar-wel .register {
    padding-left: 10px;
}

.topbar-nav {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.topbar-nav li {
    float: left;
}
.topbar-nav li a {
    padding: 0 15px;
    border-right: 1px solid black;
}
.topbar-nav li:first-child a {
    padding-left: 0;
}
.topbar-nav li:last-child a {
    padding-right: 0;
    border: 0;
}
/* #endregion */

/* #region 头部header */
.header {
    height: 120px;
    background-color: skyblue;
}
.searchbox {
    margin-top: 42px;
    font-size: 0;
}
.searchbox input {
    height: 34px;
    width: 508px;
    border: 1px solid red;
}
.searchbox button {
    height: 36px;
    width: 80px;
    background-color: red;
    background-image: url('../images/serch_icon.png');
    background-repeat: no-repeat;
    vertical-align: top;
    background-position: 28px 6px;
}
/* #endregion */

/* #region 主导航 */
.navigation {
    height: 48px;
    border-bottom: 1px solid red;
}
.goods-types {
    width: 190px;
    height: 48px;
    line-height: 48px;
    background-color: red;
    color: white;
    font-size: 16px;
    text-align: center;
}
.type-list {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
}
.type-list li {
    float: left;
    margin: 0 10px;
}
/* #endregion */

/* #region 主要内容区main */
.main {
    margin-top: 10px;
}
.main-navbar {
    background-color: #F4F4F4;
    width: 190px;
    height: 458px;
}
.main-navbar li {
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
}
.main-navbar li:first-child {
    padding-top: 5px;
}
.main-navbar li:last-child {
    padding-bottom: 5px;
}
.main-navbar li:hover {
    background-color: red;
}
.main-navbar li:hover a {
    color: white;
}





.main-banner {
    width: 690px;
    height: 458px;
    background-color: green;
    margin: 0 10px;
}
.main-other {
    width: 290px;
    height: 458px;
    background-color: orange;
}
/* #endregion */




