<style>
  .support-container {
    text-align: center;
  }

  #toggle {
    display: none;
  }

  /* 按钮样式 */
  .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
  }

  .btn:hover {
    background: skyblue;
  }

  /* 图片容器默认隐藏 */
  .support {
    display: none;
    border: 1px solid blue;
    margin-top: 10px;
    padding-top: 5px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .support .qr {
    display: inline-block;
    width: 200px;
    text-align: center;
  }

  .suport .qr img {
    height: 150px;
  }

  /* 当复选框被选中时显示图片 */
  #toggle:checked ~ .support {
    display: inline-block;
    opacity: 1;
  }
</style>

<hr>
<h3>赞助</h3>
<p>如果您觉得本站的文章对您有帮助，欢迎<strong>赞助</strong>本站。您的打赏是对本站最大的支持！</p>

<div class="support-container">
  <!-- 隐藏的复选框 -->
  <input type="checkbox" id="toggle"> 
  <!-- 按钮实际上是复选框的标签 -->
  <label class="btn" for="toggle">点我打赏</label>
  <br>
  <div class="support">
    <div class="qr">
      <span>微信赞赏</span>
      <img alt="微信赞赏" src="https://s2.loli.net/2025/03/19/hB1kMp3NSzRrYgH.jpg">
    </div>
    <div class="qr">
      <span>支付宝</span>
      <img alt="支付宝" src="https://s2.loli.net/2025/03/19/jCmZuyRFdNQGEDx.jpg">
    </div>
  </div>

</div>


{% if page.meta.comments %}
  <h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
  
  <script src="https://giscus.app/client.js"
    data-repo="interset-wq/comment"
    data-repo-id="R_kgDOOFimQg"
    data-category="Announcements"
    data-category-id="DIC_kwDOOFimQs4CnvJd"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>


  <script>
    var giscus = document.querySelector("script[src*=giscus]")

    // Set palette on initial load
    var palette = __md_get("__palette")
    if (palette && typeof palette.color === "object") {
      var theme = palette.color.scheme === "slate"
        ? "transparent_dark"
        : "light"

      // Instruct Giscus to set theme
      giscus.setAttribute("data-theme", theme) 
    }

    // Register event handlers after documented loaded
    document.addEventListener("DOMContentLoaded", function() {
      var ref = document.querySelector("[data-md-component=palette]")
      ref.addEventListener("change", function() {
        var palette = __md_get("__palette")
        if (palette && typeof palette.color === "object") {
          var theme = palette.color.scheme === "slate"
            ? "transparent_dark"
            : "light"

          // Instruct Giscus to change theme
          var frame = document.querySelector(".giscus-frame")
          frame.contentWindow.postMessage(
            { giscus: { setConfig: { theme } } },
            "https://giscus.app"
          )
        }
      })
    })
  </script>
{% endif %}  


<!-- 
{% if page.meta.twikoo %}



  <div id="tcomment"></div>
  <script src="https://cdn.jsdelivr.net/npm/twikoo@1.6.41/dist/twikoo.all.min.js"></script>
  

  <script>
  twikoo.init({
    envId: 'https://jade-crostata-8e220b.netlify.app/.netlify/functions/twikoo', // 腾讯云环境填 envId；Vercel 环境填地址（https://xxx.vercel.app）
    el: '#tcomment', // 容器元素
    // region: 'ap-guangzhou', // 环境地域，默认为 ap-shanghai，腾讯云环境填 ap-shanghai 或 ap-guangzhou；Vercel 环境不填
    // path: location.pathname, // 用于区分不同文章的自定义 js 路径，如果您的文章路径不是 location.pathname，需传此参数
    lang: 'zh-CN', // 用于手动设定评论区语言，支持的语言列表 https://github.com/twikoojs/twikoo/blob/main/src/client/utils/i18n/index.js
  })
  </script>

{% endif %}   
-->